apiVersion: elemental.cattle.io/v1beta1
kind: SeedImage
metadata:
  name: your-seedImage-name
  namespace: fleet-default
spec:
  cloud-config:
    write_files:
        path: /usr/local/cloud-config/hook.yaml
        permissions: 0777
        content:
        - |
          name: "Create LVM logic volumes"
          stages:
            post-install:
              - files: 
                  - path: "/run/cos/oem/02_elemental-rootfs.yaml"
                    permissions: 0777
                    content:
                    - |
                      name: "Elemental Rootfs Layout Settings"
                      stages:
                        initramfs:
                          - if: '[ ! -f /run/cos/recovery_mode ]'
                            commands:
                            - |
                              if [ ! -e /usr/local/etc/hostname ]; then
                                mkdir -p /usr/local/etc 
                                echo rancher-${RANDOM} > /usr/local/etc/hostname
                              fi
                              ln -sf /usr/local/etc/hostname /etc/hostname
                          - if: '[ ! -f "/run/cos/recovery_mode" ]'
                            name: "Persist /etc/machine-id"
                            commands:
                            - |
                              # persist machine-id
                              if [ -s /usr/local/etc/machine-id ]; then
                                cat /usr/local/etc/machine-id > /etc/machine-id
                              else
                                mkdir -p /usr/local/etc
                                cp /etc/machine-id /usr/local/etc
                              fi
                          - name: "Create essential persistent paths"
                            directories:
                            - path: /usr/local/bin
                        rootfs:
                          - if: '[ ! -f "/run/cos/recovery_mode" ]'
                            name: "Layout configuration"
                            environment_file: /run/cos/cos-layout.env
                            environment:
                              OVERLAY: "tmpfs:25%"
                              RW_PATHS: "/var /etc /srv"
                              PERSISTENT_STATE_PATHS: >-
                                /etc/systemd
                                /etc/rancher
                                /etc/ssh
                                /etc/iscsi 
                                /etc/cni
                                /home
                                /opt
                                /root
                                /usr/libexec
                                /var/log
                                /var/lib/elemental
                                /var/lib/rancher
                                /var/lib/kubelet
                                /var/lib/NetworkManager
                                /var/lib/cni
                                /var/lib/calico
                              PERSISTENT_STATE_BIND: "true"
                          - if: '[ -f "/run/cos/recovery_mode" ]'
                            # omit the persistent partition on recovery mode
                            name: "Layout configuration for recovery"
                            environment_file: /run/cos/cos-layout.env
                            environment:
                              OVERLAY: "tmpfs:25%"
              - files:
                - path: /run/cos/oem/lvm-mount.yaml
                  content:
                  - |
                    name: "Mount LVM volumes"
                    stages:
                      initramfs:
                        - name: "Extend fstab to mount LVM logical volumes at boot"
                          commands:
                          - |
                            echo "/dev/longhorn-vg/longhorn-lv  /var/lib/longhorn  xfs defaults 0 0" >> /etc/fstab                       
                  permissions: 0777
                if: "[ ! -e /tmp/bar ]"
              - commands:
                - |
                  echo "Testing" > /oem/testitest
                  # Create the physical volume, volume group and logical volumes
                  pvcreate /dev/sdb
                  vgcreate longhorn-vg /dev/sdb
                  lvcreate -l 100%FREE -n longhorn-lv longhorn-vg
                  # Trigger udev detection 
                  if [ ! -e "/dev/longhorn-vg/longhorn-lv" ]; then
                    sleep 10
                    udevadm settle
                  fi
                  # Ensure devices are already available
                  [ -e"/dev/longhorn-vg/longhorn-lv" ] || exit 1
                  # Format logical volumes with a known label for later use in fstab 
                  mkfs.xfs -L longhorn /dev/longhorn-vg/longhorn-lv
    users:
      - name: root
        passwd: linux
              